<!DOCTYPE html>
<html>
<head>
    <title>Prompt Generator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .input-field {
            min-height: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Gerador de prompts para o Midjourney</h1>
        <h3 class="mt-4">Descreva a imagem que você quer:</h3>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.medium.id_for_label }}">Tipo de imagem</label>
                <input type="text" class="form-control input-field" id="{{ form.medium.id_for_label }}" name="{{ form.medium.name }}">
            </div>
            <div class="form-group">
                <label for="{{ form.scene_description.id_for_label }}">Descrição da imagem</label>
                <input class="form-control input-field" id="{{ form.scene_description.id_for_label }}" name="{{ form.scene_description.name }}">
            </div>
            <div class="form-group">
                <label for="{{ form.style.id_for_label }}">Estilo e características da imagem</label>
                <input type="text" class="form-control input-field" id="{{ form.style.id_for_label }}" name="{{ form.style.name }}">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Gerar prompts</button>
        </form>
    </div>
</body>
</html>
